server:
  port: 9012
spring:
  application:
    name: cloud-sample-app
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
      username: nacos
      password: nacos
#  config:
#    import: optional:nacos:
